<center><img src='/me_reading_the_plog.gif' alt='My happy face while reading the pLog' />
</center>
<br>
<br>
<div class="jumbotron">
	<h2>Liste <%= @logs.id %>: <%= @logs.title %></h2>
	<p><%= @logs.body %></p>

<form action="/log/<%= @logs.id %>" method="post">
<input type="hidden" name="_method" value="delete" />
<input  class="btn btn-lg btn-danger" type="submit" value="Delete">
    <a href="/log" class="btn btn-default btn-lg">Retour</a>
    <a href="/log/<%= @logs.id %>/edit" class="btn btn-default btn-lg">Modifier</a>

</form>
</div>