<form action="/log/<%= @logs.id %>" method="post" accept-charset="utf-8">
<input name="_method" type="hidden" value="put" />
<p>Titre <input type="text" name="message[title]" value="<%= @logs.title %>" id="message[title]" /></p>
<p>Message: <textarea name="message[body]" rows="3" cols="40"><%= @logs.body %></textarea></p>

<a class="btn btn-lg btn-primary" type"boutton" href="/log">Retour</a>
<p><input class="btn btn-lg btn-primary" type="submit" value="Validez !" /></p>
</form>