
<div class="jumbotron">
<center><h2>Listes des messages.</h2> </center>   
<br>
<br>      

<tr class="active"><% @logs.each do |log| %>
<h3><a href="/log/<%= log.id %>"><%= log.title %></a></h3>
<p>Auteur : <%= log.auteur %></p>
<p>Fait le : <%= log.created_at.strftime('%d %m  %Y %H:%M:%S') %></p>
<% end %>
</tr>
<br>
<a class="btn btn-lg btn-primary" href="/log/new" role="button">Cree un message</a>
</div>
