
<div class="jumbotron">
	<form class="form-inline" role="form" action="/log" method="post" accept-charset="utf-8">
		<p>Titre <input type="text" name="message[title]" value="" id="message[title]" /></p>
			<input type="radio" name="message[auteur]" value="Alex" checked>Alex
		<br>
			<input type="radio" name="message[auteur]" value="Maxence">Maxence
		<p>Message <textarea name="message[body]" rows="3" cols="40"></textarea></p>
	<a style="margin-top:7px;" class="btn btn-lg btn-primary" type"boutton" href="/log">Retour</a>
	<p><input class="btn btn-lg btn-primary" type="submit" value="Let's Rock" /></p>
	</form>
</div>