<!DOCTYPE html>
<html lang="fr">
  <head>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<!-- Optional theme -->


	
    <meta charset="utf-8">
    <title>pLog</title>
  </head>
  <body>
  	<div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/log">Plog - SYSLOGS</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
          	</ul>
              <ul class="nav navbar-nav navbar-right">
              <li><a href="http://innoveduc.fr/">Innov'Educ</a></li>
              <li><a href="http://www.simplon-village.com/">Simplon Village</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      







    <%= yield %>
     <div class="container contact">
        <section class="row footer">
            <div class="col-lg-12 logofoot">
              <p>Pantaleon Maxence & Cormier Alexandre © Simplon Village 2014.</p>
            </div>
        </section>
    </div>
</div>
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
